.backgroundfooter {
	background-image: url(/footer.png);
	background-size:100% 120%; 
	background-position: center center; 
	background-repeat: no-repeat; 

}
.linea {
	background-color: rgb(207, 207, 207);
   height: 2px;
}
.social-item a {
	display: block;
	font-size: 150%;
	color: rgb(207, 207, 207);
}
.social-item a:hover {
	opacity: 0.5;
}
.social-icon{
   color: #f9f8f8!important;
	margin:10px;
	text-align: center;
}
.derechos{
	text-align: center;
   font-size:70%;
	color: #fcfcfc!important;
	margin-top:10px;
}
.text-deg {
	text-align: center;
	color: #faf9f8!important;
	font-size: 100%;
   font-weight: 700;
}
.text-deg:hover {
	color: #01fff4!important;
	text-decoration: underline;
}
.logofooter{
	margin-top: 10px!important;
	border-radius: 20px;
}
.homenamefooter {
	color: #01fff4;
	font-size: 32px;
	font-weight: 800;
}
